body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 30px;
  }
}

/* Custom Buttons */
.btn-info { 
  color: #FFFFFF; 
  background-color: #518EF7; 
  border-color: #FFFFFF; 
} 
 
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info { 
  color: #FFFFFF; 
  background-color: #2F79FA; 
  border-color: #FFFFFF; 
} 
 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info { 
  background-image: none; 
} 
 
.btn-info.disabled, 
.btn-info[disabled], 
fieldset[disabled] .btn-info, 
.btn-info.disabled:hover, 
.btn-info[disabled]:hover, 
fieldset[disabled] .btn-info:hover, 
.btn-info.disabled:focus, 
.btn-info[disabled]:focus, 
fieldset[disabled] .btn-info:focus, 
.btn-info.disabled:active, 
.btn-info[disabled]:active, 
fieldset[disabled] .btn-info:active, 
.btn-info.disabled.active, 
.btn-info[disabled].active, 
fieldset[disabled] .btn-info.active { 
  background-color: #518EF7; 
  border-color: #FFFFFF; 
} 
 
.btn-info .badge { 
  color: #518EF7; 
  background-color: #FFFFFF; 
}

.btn-primary { 
  color: #FFFFFF; 
  background-color: #333333; 
  border-color: #333; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #111111; 
  border-color: #333; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #333333; 
  border-color: #333; 
} 
 
.btn-primary .badge { 
  color: #333333; 
  background-color: #FFFFFF; 
}